.oe_product_cart {
	&:hover {
		box-shadow: none;
	}
}
.as-product {
	position: relative;
	margin-bottom: 30px;
	@include transition(cubic-bezier(0.4, 0, 1, 1) all 0.35s);
    overflow: hidden;
    border: 1px solid #eee;
    background: $as-white;
	.sale {
	    position: absolute;
	    top: 20px;
	    left: 0;
	    width: auto;
	    z-index: 1;
	    display: block;
	    height: auto;
		label {
		    font-size: 11px;
		    padding: 5px 26px 4px 10px;
		    color: #fff;
		    font-weight: 600;
		    background: #d40707;
		    position: relative;
		    border-radius: 0 5px 5px 0px;
		    box-shadow: -4px 4px 6px 0 rgba(0, 0, 0, 0.18);
			&:after {
	            content: "";
			    position: absolute;
			    top: 0;
			    right: 8px;
			    width: 8px;
			    height: 8px;
			    background: #fff;
			    border-radius: 50%;
			    box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.73);
			    bottom: 0;
			    margin: auto;
			}
		}
	}
	.asp-inner {
		.o_wsale_layout_list & {
			display: flex;
		}
	}
	.pro-img {
		position: relative;
		.o_wsale_layout_list & {
			flex: 0 0 30%;
			max-width: 30%;
			border-bottom: none;
			border-right: 1px solid #eee;
		}
		img {
			width: auto;
			max-width: 100%;
			@include transform(scale(1));
			@include transition(all 0.4s ease-out);
		}
		.asp-img {
			position: relative;
			overflow:hidden;
			border-bottom: 1px solid #eee;
			span {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			&:after {
				content: "";
				padding-bottom: 100%;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	.pro-icons {
		position: absolute;
	    top: 10px;
	    right: 10px;
	    width: 35px;
	    background: $as-white;
	    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
	    @include up-sm {
	    	width: 40px;
		    opacity: 0;
		    visibility: hidden;
		    @include transform(perspective(600px) rotateX(90deg));
		    @include transition(all 0.4s ease-out);
	    }
		.as-btn {
            background: $as-white;
		    color: $as-dark-color;
		    font-weight: 500;
		    text-transform: uppercase;
		    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    font-size: 15px;
		    border-radius: 0;
		    position: relative;
		    padding: 0;
		    box-shadow: none !important;
		    border: none;
		    @include down-sm {
		    	width: 35px;
			    height: 35px;
			    line-height: 35px;
		    }
		    + .as-btn {
		    	border-top: 1px solid #eee;
		    }
			@include transition(ease left 0.35s);
			.ti-heart {
				&:before {
					content: "\f08a";
					font-family: FontAwesome;
				}
			}
			&:hover {
				color: $as-white;
				background: $as-dark-color;
				border-color: $as-dark-color !important;
			}
			&[disabled],
			&.disabled {
				color: $as-theme;
				opacity: 1;
				background: $as-white;
				pointer-events: none;
				&:after {
				    content: "\f058";
				    display: inline-block;
				    position: absolute;
				    top: 6px;
				    right: 5px;
				    font-family: FontAwesome;
				    font-size: 14px;
				    background: #fff;
				    width: 10px;
				    height: 10px;
				    border-radius: 50%;
				    line-height: 10px;
				}
			}
		}
	}
	.pro-info {
	    padding: 15px;
	    position: relative;
	    top: 0;
	    z-index: 1;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
		@include transition(ease-in-out all 0.35s);
		background: $as-white;
		@include down-sm {
			padding: 8px;
		}
		> .product_price {
			flex: 0 0 calc(100% - 80px);
			max-width: calc(100% - 80px);
			@include down-sm {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.o_wsale_layout_list & {
			flex: 0 0 70%;
			max-width: 70%;
			display: block !important;
			padding: 20px;
			top: auto;
		}
	}

	.o_wsale_product_btn {
		@include up-sm {
			top: -72px;
			padding: 12px;
			opacity: 0;
			@include transition(all 0.4s ease-out);
		    position: absolute;
		    left: 0;
		    right: 0;
		}
		@include down-sm {
			position: relative;
			top: auto;
			opacity: 1;
			padding: 10px 0 0;
			width: 100%;
		}
		.o_wsale_layout_list & {
			background: none !important; 
		    padding: 15px 0 0 !important;
		    align-items: start !important;
		    opacity: 1  !important;
		}
		.as-btn {
    	    padding: 0 20px;
    	    width: 100%;
		    font-size: 12px;
		    border: none;
		    background: $as-dark-color;
		    color: $as-white;
		    text-transform: uppercase;
		    line-height: 40px;
		    font-weight: 600;
		    border-radius: 0;
		    @include down-sm {
		    	padding: 0;
		    	line-height: 35px;
		    }
		    .o_wsale_layout_list & {
		    	width: auto;
		    }
		    .fa,
		    .ti-bag {
		    	font-size: 15px;
			    display: inline-block;
			    vertical-align: middle;
			    + span {
			    	vertical-align: middle;
					margin-left: 6px;
			    }
		    }
		    &:active,
		    &:focus,
		    &:hover {
		    	background:$as-theme !important;
		    	color: $as-white !important;
		    }
	    }
	}
	.o_wsale_products_item_title {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0 0 13px;
		color: $as-body-color;
		a {
		    color: #5a5a5a;
			font-weight: 500;
			font-size: 14px;
		    display: inline-block;
		    vertical-align: top;
		    max-width: 100%;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}
	}
	.as-product-price,
	.product_price {
		color: $as-dark-color;
		font-size: 15px;
		font-weight: 600;
		b {
			font-weight: 600;
		}
	}
	.prod_rating {
		line-height: 15px;
		font-size: 15px;
		color: #d2d2d2;
		flex: 0 0 80px;
	    max-width: 80px;
	    order: 1;
	    text-align: right;
	    @include down-sm {
	    	margin: 0 0 10px;
		    flex: 0 0 100%;
			max-width: 100%;
			text-align: left;
			order: 0;
	    }
	    .o_wsale_layout_list & {
			margin: 0 0 10px;
		    flex: 0 0 100%;
			max-width: 100%;
			text-align: left;
	    }
		i {
			display: none;
			&.fa-star-half-o,
			&.fa-star {
				.o_wsale_layout_list & {
					color: #ffb300;
				}
				~ span {
					&:before {
						color: #ffb300;
					}
				}
			}
			.o_wsale_layout_list & {
				display: inline-block;
				vertical-align: middle;
			}
		}
		span {
	        font-size: 11px;
		    color: #666;
		    font-weight: 600;
		    background: #eee;
		    padding: 3px 6px;
		    border-radius: 15px;
		    display: inline-block;
		    text-align: center;
		    vertical-align: middle;
		    &:before {
		    	content: "\f005";
			    font-family: FontAwesome;
			    margin-right: 5px;
			    color: #a7a7a7;
		    }
		    .o_wsale_layout_list & {
		    	display: none;
		    }
		}
	}
	.oe_subdescription {
	    @include scale(1);
	    font-size: 14px;
	    max-height: inherit !important;
	    margin-top: 10px;
	    flex: 0 0 100%;
	    order: 2;
	}

	&:hover {
		@include up-sm {
			.o_wsale_product_btn {
				top: -65px;
				opacity: 1;
			}
			.pro-icons {
				visibility: visible;
				opacity: 1;
				@include transform(translateY(0));
			}
		}
		.pro-img {
			img {
				@include transform(scale(1.1));
			}
		}
	}
}


.pro-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 8px;
    order: 5;
    .product-tag {
        margin: 0 6px 4px 0;
	    font-size: 0.65rem;
	    font-weight: 500;
	    line-height: 1;
	    transition: ease all 0.25s;
	    position: relative;
	    span {
    	    background: #ddd;
		    padding: 4px 7px;
		    display: inline-block;
		    position: relative;
		    border-radius: 3px;
		    color: #333;
		    border: 1px solid #ccc;
		    text-transform: uppercase;
	    }
    }
}